* {
    box-sizing: border-box;
  }

  .container {
    background-color: #ffff;
    
  }


  
  .thumbnail {
    position: relative;
    float: right;
    width: 100%;
    margin: 20px 0 25px;
    overflow: auto;
    left: 10px;
  }
  
  /* .work:nth-child(even) {
    margin-right: 40px;
  } */
  
  .thumbnail img {
    width: 100%;
    height: 300px;
    border: 0 none;
    opacity: 0.8;
    margin: auto;

  }
  
  .caption h3{
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  
  /* .img-thumbnail {
    /* float: left; */
    /* width: auto;
    height: 200px;
    margin: auto; */
    /* margin-top: 10px;
    margin-right: 25px; */
  /* } */ */
  
  h2 {
    color: #4aaaa5;
    /* position: static; */

  }

  h1 {
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
  }
 
#form-holder {
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 20px;
}
 
.btn {
  background-color: #4aaaa5;
  border-color: #4aaaa5;
  margin-left: 80px;
}

.pictures {
  float: left;
  margin: 20px 0 25px;
  overflow: auto;

}